<% include partical/header.ejs %>
<!-- Begin page content -->
<div class="container page-content">
    <div class="row">
        <div class="col-md-4 bg-white">
            <div class=" row border-bottom padding-sm" style="height: 40px; padding-left: 15px;">
                List Friend
            </div>
            <!-- member list -->
            <ul class="friend-list">
                <% if(user.followers.length >0){%>
                <% for(var i=0; i< user.followers.length ; i++){ %>
                <li class="<% if(user.followers[i].userId.toString() === chat_with._id.toString() ){%>active <% } %> animated bounceInDown" id="chatlist<%= user.followers[i].userId %>">
                    <a href="/chat?conversation=<%= user.followers[i].userId %>" class="clearfix">
                        <img src="<%= user.followers[i].image %>" alt="" class="img-circle">
                        <div class="friend-name">
                            <strong><%= user.followers[i].name %></strong>
                        </div>
                        <div class="last-message text-muted"></div>
                        <small class="time text-muted"></small>
                        <small class="chat-alert label label-danger"></small>
                    </a>
                </li>
                <% }} %>
            </ul>
        </div>

        <!--=========================================================-->
        <!-- selected chat -->
        <div class="col-md-8 bg-white ">
            <div class="chat-message" style="max-height: 550px;overflow-y:auto ">
                <ul class="chat" id="messages">
                    <% if(data_chat !=''){ for(var i=0; i<data_chat.length; i++){ %>
                    <li class="<% if(data_chat[i].id.toString() != user._id.toString()){ %> right <%}else{%> left <%}%> clearfix">
                  <span class="chat-img <% if(data_chat[i].id.toString() != user._id.toString()){ %> pull-right <%}else{%> pull-left <%}%>">
                    <img src="<%= data_chat[i].image %>" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font"><%= data_chat[i].name %></strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i><%= new Date(data_chat[i].date).toISOString() %></small>
                            </div>
                            <p>
                                <%= data_chat[i].content %>
                            </p>
                        </div>
                    </li>
                    <% } }  %>

                </ul>
                <p id="seen_message" class="pull-right"></p>
            </div>
            <div class="chat-box_ bg-white">
                <div class="input-group">
                    <input class="form-control border no-shadow no-rounded" id="content_chat" name="content_chat" placeholder="Type your message here">
                    <span class="input-group-btn">
                <button class="btn btn-success no-rounded" id="btnSendMessage" autocomplete="off" type="button">Send</button>
              </span>
                </div><!-- /input-group -->

                <input type="hidden" id="id_send" name="id_send" value="<%= user._id %>">
                <input type="hidden" id="image_send" name="image_send" value="<%= user.local.image %>">
                <input type="hidden" id="name_send" name="name_send" value="<%= user.local.name %>">

                <input type="hidden" id="id_chat_with" name="id_chat_with" value="<%= chat_with._id %>">
                <input type="hidden" id="image_chat_with"  name="image_chat_with"   value="<%= chat_with.local.image %>">
                <input type="hidden" id="name_chat_with"  name="name_chat_with"  value="<%= chat_with.local.name %>">

            </div>
        </div>
    </div>
</div>

<% include partical/footer.ejs %>


