<% include partical/header.ejs %>
<!-- Begin page content -->
<div class="container page-content">
    <div class="row">
        <div class="col-md-4 bg-white">
            <div class=" row border-bottom padding-sm" style="height: 40px; padding-left: 30px;">
                Member
            </div>
            <!-- member list -->
            <ul class="friend-list">
                <% if(user.followers.length >0){%>
                <% for(var i=0; i< user.followers.length ; i++){ %>
                <li class="active animated bounceInDown">
                    <a href="/chat?conversation=<%= user.followers[i].userId %>" class="clearfix">
                        <img src="<%= user.followers[i].image %>" alt="" class="img-circle">
                        <div class="friend-name">
                            <strong><%= user.followers[i].name %></strong>
                        </div>
                        <div class="last-message text-muted"><%= user.followers[i].message %></div>
                        <small class="time text-muted"><% if(user.followers[i].date!= undefined){ %><%= new Date().toISOString() %> <% } %></small>
                        <small class="chat-alert label label-danger"><% if(user.followers[i].seen!= undefined && user.followers[i].seen === 'yes' ){ %> 1 <% } %></small>
                    </a>
                </li>
                <% }} %>
            </ul>
        </div>

        <!--=========================================================-->
        <!-- selected chat -->
        <div class="col-md-8 bg-white ">
            <div class="chat-message" style="max-height: 550px;overflow-y:auto ">
                <ul class="chat">
                    <li class="left clearfix">
                  <span class="chat-img pull-left">
                    <img src="img/Friends/woman-1.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jane</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                  <span class="chat-img pull-right">
                    <img src="img/Friends/guy-3.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">John</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                    <span class="chat-img pull-left">
                    <img src="img/Friends/woman-1.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jane</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                    <span class="chat-img pull-right">
                    <img src="img/Friends/guy-3.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">John</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                    <span class="chat-img pull-left">
                    <img src="img/Friends/woman-1.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jane</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                    <span class="chat-img pull-right">
                    <img src="img/Friends/guy-3.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">John</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                    <span class="chat-img pull-right">
                    <img src="img/Friends/guy-3.jpg" alt="User Avatar">
                  </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">John</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-box_ bg-white">
                <form action="/post-chat" method="post">
                    <input type="hidden" name="chat_with" value="<%= chat_with %>">
                <div class="input-group">
                    <input class="form-control border no-shadow no-rounded" name="content_chat" placeholder="Type your message here">
                    <span class="input-group-btn">
                <button class="btn btn-success no-rounded" type="submit">Send</button>
              </span>
                </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</div>

<% include partical/footer.ejs %>


