<% include partical/header.ejs %>
<div class="container page-content " style="background: #fff;">
    <div class="col-sm-8">
        <div class="row">
            <div style="margin-top: 15px;">
                <div class="box box-widget" id="status_<%= detail._id %>">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="<%= detail.user.image %>" alt="User Image">
                            <span class="username"><a
                                        href="/profile/<%= detail.userId %>"><%= detail.user.name %></a></span>
                            <span class="description"><%= detail.date.toLocaleTimeString() + ' ' + detail.date.getDate() + '-' + detail.date.getMonth() + '-' + detail.date.getFullYear() %></span>
                        </div>
                    </div>

                    <div class="box-body" style="display: block;">
                        <p><%= detail.content %>
                        </p>
                        <% if(typeof detail.image != 'undefined' && detail.image.length > 0){ for(var k = 0; k < detail.image.length; k++){ %>
                        <img src="/uploads/status/<%= detail.image[k] %>" style="width: 100%; height: 300px;"
                             class="img-responsive show-in-modal" alt="photo">
                        <div class="col-sm-12" style="padding-top: 10px;"></div>
                        <% }} %>

                        <!--<button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i>-->
                        <!--Share-->
                        <!--</button>-->

                        <% if(detail.like.indexOf(user._id.toString()) === -1){ %>
                        <button type="button" class="btn btn-success btn-xs like-Unlike" data-id="<%= detail._id %>" action="like" ><i class="fa fa-thumbs-o-up">Like</i>
                        </button>
                        <% }else { %>
                        <button type="button" class="btn btn-success btn-xs like-Unlike" data-id="<%= detail._id %>" action="unlike" ><i class="fa fa-thumbs-o-down">UnLike</i>
                        </button>
                        <% } %>

                        <span class="pull-right text-muted"><span class="count-like"><%= detail.like.length %></span>
                            likes - <span class="count-comment"><%= detail.comment.length %></span> comments</span>
                    </div>
                    <div class="boxmain-comment" >
                    <%if( detail.comment.length > 0){ var long_stt = detail.comment.length; var start = 0; %>
                    <div class="box-footer box-comments" style="display: block;">
                        <% if(long_stt>3){  %>
                        <div class="readmore_comment">
                            <a onclick="readmore_comment('<%= detail._id %>')">Xem thêm các bình luận trước(<%= long_stt-3 %>)</a>
                        </div>
                        <% start = long_stt-3; }  %>
                        <% for(var k = start ; k < long_stt ; k++){ %>
                        <div class="box-comment" id="comment_<%= detail._id %>_<%= detail.comment[k]._id %>">
                            <a href="/profile/<%= detail.comment[k].id %>">
                                <img class="img-circle img-sm" src="<%= detail.comment[k].image %>"
                                     alt="User Image">
                            </a>
                                <div class="comment-text">
                          <span class="username">
                          <%= detail.comment[k].name %>
                              <span class="text-muted pull-right"><%= detail.comment[k].date.toLocaleTimeString() + ' ' + detail.comment[k].date.getDate() + '-' + detail.comment[k].date.getMonth() + '-' + detail.comment[k].date.getFullYear() %></span>
                              <% if(user._id.toString() === detail.comment[k].id.toString()){  %> <div class="edit-delete-comment"><ul class="list-inline"><li title="delete comment" onclick="DeleteComment('<%= detail._id %>','<%= detail.comment[k]._id %>')"><i class="fa fa-trash" aria-hidden="true"></i></li><li title="edit comment" onclick="EditComment('<%= detail._id %>','<%= detail.comment[k]._id %>',this)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li></ul></div> <% } %>
                          </span>

                                    <div class="content-comment"><%= detail.comment[k].content %></div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
                    </div>

                    <div class="box-footer" style="display: block;">
                        <img class="img-responsive img-circle img-sm"
                             src="<%= user.local.image %>" alt="Alt Text">
                        <div class="img-push">
                            <input type="text" name="content_comment" object_status= "<%= detail._id %>" action="" class="form-control input-sm"
                                   placeholder="Press enter to post comment" required>
                        </div>
                    </div>

            </div><!--  end posts-->

            </div>
        </div>
    </div>
</div>

<% include partical/footer.ejs %>