<% include partical/header.ejs %>
<% include partical/bar_profile.ejs %>

<div class="col-md-5">
    <div class="widget">
        <div class="widget-header">
            <h3 class="widget-caption">About</h3>
        </div>
        <div class="widget-body bordered-top bordered-sky">
            <ul class="list-unstyled profile-about margin-none">
                <li class="padding-v-5">
                    <div class="row">
                        <div class="col-sm-4"><span class="text-muted">Date of Birth</span></div>
                        <div class="col-sm-8"><%= user_other.local.birthday %></div>
                    </div>
                </li>
                <li class="padding-v-5">
                    <div class="row">
                        <div class="col-sm-4"><span class="text-muted">Job</span></div>
                        <div class="col-sm-8"><%= user_other.local.job %></div>
                    </div>
                </li>
                <li class="padding-v-5">
                    <div class="row">
                        <div class="col-sm-4"><span class="text-muted">Gender</span></div>
                        <div class="col-sm-8"><%= user_other.local.gender %></div>
                    </div>
                </li>
                <li class="padding-v-5">
                    <div class="row">
                        <div class="col-sm-4"><span class="text-muted">Lives in</span></div>
                        <div class="col-sm-8"><%= user_other.local.hometown %></div>
                    </div>
                </li>
                <li class="padding-v-5">
                    <div class="row">
                        <div class="col-sm-4"><span class="text-muted">Education</span></div>
                        <div class="col-sm-8"><%= user_other.local.education %></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="widget widget-friends">
        <div class="widget-header">
            <h3 class="widget-caption">Friends</h3>
        </div>
        <div class="widget-body bordered-top  bordered-sky">
            <div class="row">
                <div class="col-md-12">
                    <ul class="img-grid" style="margin: 0 auto;">
                        <% if(user_other.followers.length > 0){ for(var i = 0; i < user_other.followers.length; i++){ %>
                        <li>
                            <a href="/profile/<%= user_other.followers[i].userId %>">
                                <img src="<%= user_other.followers[i].image %>" alt="image">
                            </a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="widget-header">
            <h3 class="widget-caption">Groups</h3>
        </div>
        <div class="widget-body bordered-top bordered-sky">
            <div class="card">
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <% if(typeof  user_other.group != 'undefined' && user_other.group.length > 0) %>
                        <% user_other.group.forEach(function (item) { %>
                        <li>
                            <a href="/group/<%= item.id %>">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar">
                                        <img src="<%= item.cover %>" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <%= item.name %>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <btn class="btn btn-sm btn-azure btn-icon"><i class="fa fa-user"></i>
                                    </btn>
                                </div>
                            </div>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--============= timeline posts-->
<div class="col-md-7">
    <div class="row">
        <!-- left posts-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <!-- post state form -->
                    <div class="box profile-info n-border-top">
                        <form action="/add-status" method="POST" enctype="multipart/form-data">
                                    <textarea class="form-control input-lg p-text-area" rows="2"
                                              placeholder="Whats in your mind today?" name="content_status"
                                              required></textarea>
                            <ul id="results_upload" class="list-inline"></ul>
                            <div class="box-footer box-form">
                                <button type="submit" class="btn btn-warning pull-right">Post</button>
                                <ul class="nav nav-pills">
                                    <li><a style="cursor: pointer"
                                           onclick="document.getElementById('addImageStatus').click();"><i
                                                    class="fa fa-camera"></i></a></li>
                                    <input type="file" style="display: none" id="addImageStatus" name="addImageStatus">
                                </ul>
                            </div>
                        </form>
                    </div>

                    <% if(timeline.length > 0){ for(var i = 0;i < timeline.length; i++){ %>
                    <!--   posts -->
                    <div class="box box-widget" id="status_<%= timeline[i]._id %>">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="<%= timeline[i].user.image %>" alt="User Image">
                                <span class="username"><a
                                            href="/profile/<%= timeline[i].userId %>"><%= timeline[i].user.name %></a></span>
                                <span class="description"><%= timeline[i].date.toLocaleTimeString() + ' ' + timeline[i].date.getDate() + '-' + timeline[i].date.getMonth() + '-' + timeline[i].date.getFullYear() %></span>
                            </div>
                        </div>

                        <div class="box-body" style="display: block;">
                            <p><%= timeline[i].content %>
                            </p>
                            <% if(typeof timeline[i].image != 'undefined' && timeline[i].image.length > 0){ for(var k = 0; k < timeline[i].image.length; k++){ %>
                            <a href="/detail-status/<%= timeline[i]._id %>"><img src="/../uploads/status/<%= timeline[i].image[k] %>"
                                 style="width: 100%; height: 300px;" class="img-responsive show-in-modal" alt="photo"></a>
                            <div class="col-sm-12" style="padding-top: 10px;"></div>
                            <% }} %>

                            <% if(timeline[i].like.indexOf(user._id.toString()) === -1){ %>
                            <button type="button" class="btn btn-success btn-xs like-Unlike"
                                    data-id="<%= timeline[i]._id %>" action="like"><i class="fa fa-thumbs-o-up">Like</i>
                            </button>
                            <% }else { %>
                            <button type="button" class="btn btn-success btn-xs like-Unlike"
                                    data-id="<%= timeline[i]._id %>" action="unlike"><i class="fa fa-thumbs-o-down">UnLike</i>
                            </button>
                            <% } %>

                            <span class="pull-right text-muted"><span
                                        class="count-like"><%= timeline[i].like.length %></span>
                            likes - <span class="count-comment"><%= timeline[i].comment.length %></span> comments</span>

                        </div>
                            <div class="boxmain-comment" >
                        <%if( timeline[i].comment.length > 0){ var long_stt = timeline[i].comment.length; var start = 0; %>
                            <div class="box-footer box-comments" style="display: block;">
                                <% if(long_stt>3){  %>
                                <div class="readmore_comment">
                                    <a onclick="readmore_comment('<%= timeline[i]._id %>')">Xem thêm các bình luận trước(<%= long_stt-3 %>)</a>
                                </div>
                                <% start = long_stt-3; }  %>
                            <% for(var k = start ; k < long_stt ; k++){ %>
                            <div class="box-comment" id="comment_<%= timeline[i]._id %>_<%= timeline[i].comment[k]._id %>">
                                <a href="/profile/<%= timeline[i].comment[k].id %>">
                                    <img class="img-circle img-sm" src="<%= timeline[i].comment[k].image %>"
                                         alt="User Image">
                                </a>
                                    <div class="comment-text">
                          <span class="username">
                          <%= timeline[i].comment[k].name %>
                              <span class="text-muted pull-right"><%= timeline[i].comment[k].date.toLocaleTimeString() + ' ' + timeline[i].comment[k].date.getDate() + '-' + timeline[i].comment[k].date.getMonth() + '-' + timeline[i].comment[k].date.getFullYear() %></span>
                              <% if(user._id.toString() === timeline[i].comment[k].id.toString()){  %> <div class="edit-delete-comment"><ul class="list-inline"><li title="delete comment" onclick="DeleteComment('<%= timeline[i]._id %>','<%= timeline[i].comment[k]._id %>')"><i class="fa fa-trash" aria-hidden="true"></i></li><li title="edit comment" onclick="EditComment('<%= timeline[i]._id %>','<%= timeline[i].comment[k]._id %>',this)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li></ul></div> <% } %>
                          </span>

                                        <div class="content-comment"> <%= timeline[i].comment[k].content %></div>
                            </div>
                        </div>
                        <% } %>
                        </div>
                    <% } %>
                    </div>
                    <div class="box-footer" style="display: block;">
                            <img class="img-responsive img-circle img-sm"
                                 src="<%= user.local.image %>" alt="Alt Text">
                            <div class="img-push">
                                <input type="text" name="content_comment" object_status= "<%= timeline[i]._id %>" action="" class="form-control input-sm"
                                       placeholder="Press enter to post comment" required>
                            </div>
                    </div>
                </div><!--  end posts-->
                <% }} %>

                    <div id="LoadMoreNewFeed">

                    </div>
            </div>
        </div>
    </div><!-- end left posts-->
</div>
</div><!-- end timeline posts-->

</div>
</div>
</div>

<input type="hidden" name="id_profile" value="<%= user_other._id %>">
<% include partical/list_friend.ejs %>
<% include partical/footer.ejs %>
