<div class="row page-content">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <div class="cover profile" ng-app="profileApp">
                    <div class="wrapper" ng-controller="profileController">
                        <div class="image">
                            <img src="<%= user_other.local.cover %>" class="show-in-modal" alt="people">
                        </div>
                        <% if(user._id.toString().trim() != user_other._id.toString().trim()){ if(check === -1){ %>
                        <% if(isfriend.length === 0){%>
                        <button class="btn btn-warning" style="position: absolute; bottom: 10px; right: 20px;" ng-show="checkIsFollow('<%= user_other._id.toString().trim() %>')" ng-click ="sendAddFriend('<%= user._id.toString().trim() %>','<%= user_other._id.toString().trim() %>')">add friend</button>
                       <% }else {%>
                        <button class="btn btn-warning" style="position: absolute; bottom: 10px; right: 20px;" onclick="getUnFriend('<%= user_other._id.toString().trim() %>')" >friend</button>
                        <% } }else {%>
                        <button class="btn btn-warning" style="position: absolute; bottom: 10px; right: 20px;"  >alredy add friend</button>
                        <% } }%>

                    </div>
                    <div class="cover-info">
                        <div class="avatar">
                            <img src="<%= user_other.local.image %>" alt="people">
                        </div>
                        <div class="name"><a ><%= user_other.local.name %></a></div>
                        <ul class="cover-nav">
                            <li class="active"><a href="/profile/<%= user_other._id %>"><i class="fa fa-fw fa-bars"></i> Timeline</a></li>
                            <li><a href="/friends/<%= user_other._id %>"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                            <li><a href="/photos/<%= user_other._id %>"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">