<% if(newfeed.length > 0){ for(var i = 0;i < newfeed.length; i++){ %>
<!--   posts -->
<div class="box box-widget" id="status_<%= newfeed[i]._id %>" >
    <div class="box-header with-border">
        <div class="user-block">
            <% if(newfeed[i].id_write_wall === undefined ){ %>
            <img class="img-circle" src="<%= newfeed[i].user.image %>" alt="User Image">
            <span class="username"><a
                        href="/profile/<%= newfeed[i].userId %>"><%= newfeed[i].user.name %></a></span>
            <span class="description"><%= newfeed[i].date.toLocaleTimeString() + ' ' + newfeed[i].date.getDate() + '-' + newfeed[i].date.getMonth() + '-' + newfeed[i].date.getFullYear() %></span>
            <% }else{ %>
            <ul class="list-inline">
                <li>
                    <img class="img-circle" src="<%= newfeed[i].user.image %>" alt="User Image">
                    <span class="username"><a
                                href="/profile/<%= newfeed[i].userId %>"><%= timeline[i].user.name %></a></span>
                    <span class="description"><%= newfeed[i].date.toLocaleTimeString() + ' ' + newfeed[i].date.getDate() + '-' + newfeed[i].date.getMonth() + '-' + newfeed[i].date.getFullYear() %></span>
                </li>
                <li>
                                        <span class="username" style="margin-left: 0px;    position: absolute; top: 10px;"><a
                                                    href="/profile/<%= newfeed[i].id_write_wall %>"><%= newfeed[i].write_wall.name %></a></span>
                    <span></span>
                </li>
            </ul>
            <% } %>
        </div>
        <% if(user._id.toString() === newfeed[i].userId ){ %>
        <div class="del_status" onclick="delete_status(this)"><i class="fa fa-chevron-down" aria-hidden="true"></i>
            <ul class="sub_delete_status"><li><a onclick="action_delete_status('<%= newfeed[i]._id %>')">delete</a></li></ul>
        </div>
        <% } %>
    </div>

    <div class="box-body" style="display: block;">
        <div><%- newfeed[i].content %>
            <% if(typeof newfeed[i].hastag !== 'undefined' && newfeed[i].hastag.length>0){%>
            <ul class="list-inline">
                <% for(var h = 0; h<newfeed[i].hastag.length; h++){%>
                <li><a href="/hastag/<%= newfeed[i].hastag[h] %>">#<%= newfeed[i].hastag[h] %></a></li>
                <%}%>
            </ul>
            <%}%>
        </div>
        <% if(typeof newfeed[i].image != 'undefined' && newfeed[i].image.length > 0){ for(var k = 0; k < newfeed[i].image.length; k++){ %>
        <a href="/detail-status/<%= newfeed[i]._id %>"><img src="/uploads/status/<%= newfeed[i].image[k] %>" style="width: 100%; height: 300px;"
                                                            class="img-responsive show-in-modal" alt="photo"></a>
        <div class="col-sm-12" style="padding-top: 10px;"></div>
        <% }} %>

        <% if(newfeed[i].like.indexOf(user._id.toString()) === -1){ %>
        <button type="button" class="btn btn-success btn-xs like-Unlike" onclick="LikeUnlikeSatus('<%= newfeed[i]._id %>')" ><i class="fa fa-thumbs-o-up">Like</i>
        </button>
        <% }else { %>
        <button type="button" class="btn btn-success btn-xs like-Unlike" onclick="LikeUnlikeSatus('<%= newfeed[i]._id %>')" ><i class="fa fa-thumbs-o-down">UnLike</i>
        </button>
        <% } %>

        <span class="pull-right text-muted"><span class="count-like"><%= newfeed[i].like.length %></span>
                            likes - <span class="count-comment"><%= newfeed[i].comment.length %></span> comments</span>
    </div>

    <div class="boxmain-comment" >
        <%if( newfeed[i].comment.length > 0){ var long_stt = newfeed[i].comment.length; var start = 0; %>
        <div class="box-footer box-comments" style="display: block;">
            <% if(long_stt>3){  %>
            <div class="readmore_comment">
                <a onclick="readmore_comment('<%= newfeed[i]._id %>')">Xem thêm các bình luận trước(<%= long_stt-3 %>)</a>
            </div>
            <% start = long_stt-3; }  %>
            <% for(var k = start ; k < long_stt ; k++){ %>
            <div class="box-comment" id="comment_<%= newfeed[i]._id %>_<%= newfeed[i].comment[k]._id %>" >
                <a href="/profile/<%= newfeed[i].comment[k].id %>">
                    <img class="img-circle img-sm" src="<%= newfeed[i].comment[k].image %>"
                         alt="User Image"> </a>
                <div class="comment-text">
                          <span class="username">
                          <%= newfeed[i].comment[k].name %>
                              <span class="text-muted pull-right"><%= newfeed[i].comment[k].date.toLocaleTimeString() + ' ' + newfeed[i].comment[k].date.getDate() + '-' + newfeed[i].comment[k].date.getMonth() + '-' + newfeed[i].comment[k].date.getFullYear() %></span>
                              <% if(user._id.toString() === newfeed[i].comment[k].id.toString()){  %> <div class="edit-delete-comment"><ul class="list-inline"><li title="delete comment" onclick="DeleteComment('<%= newfeed[i]._id %>','<%= newfeed[i].comment[k]._id %>')"><i class="fa fa-trash" aria-hidden="true"></i></li><li title="edit comment" onclick="EditComment('<%= newfeed[i]._id %>','<%= newfeed[i].comment[k]._id %>',this)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li></ul></div> <% } %>
                          </span>
                    <div class="content-comment"><%= newfeed[i].comment[k].content %></div>
                </div>
            </div>

            <% } %>
        </div>
        <% } %>
    </div>
    <div class="box-footer" style="display: block;">
        <img class="img-responsive img-circle img-sm"
             src="<%= user.local.image %>" alt="Alt Text">
        <div class="img-push">
            <input type="text" name="content_comment" onkeypress="handleEnterComment(event,'<%= newfeed[i]._id %>')" action="" class="form-control input-sm"
                   placeholder="Press enter to post comment" required>
        </div>
    </div>
</div><!--  end posts-->
<% }} %>